figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: #222;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}



/* ------ LILA (BOX2) ------- */



figure.effect-lila figcaption {
	text-align: left;
}

figure.effect-lila figcaption > div {
	position: absolute;
	bottom: 0;
	left: 35%;
	padding: 2em;
	width: 30%;
	height: 50%;
}

figure.effect-lila h2,
figure.effect-lila p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lila h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lila p {
	color: #222;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lila:hover img,
figure.effect-lila:hover p {
	opacity: 1;
}

figure.effect-lila:hover img,
figure.effect-lila:hover h2,
figure.effect-lila:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lila:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/* ------ LILOU (BOX3) ------- */



figure.effect-lilou figcaption {
	text-align: left;
}

figure.effect-lilou figcaption > div {
	position: absolute;
	bottom: 0;
	right: 10px;
	padding: 2em;
	width: 30%;
	height: 50%;
}

figure.effect-lilou h2,
figure.effect-lilou p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lilou h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lilou p {
	color: #222;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lilou:hover img,
figure.effect-lilou:hover p {
	opacity: 1;
}

figure.effect-lilou:hover img,
figure.effect-lilou:hover h2,
figure.effect-lilou:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lilou:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
