/* This file contains all our variables */

$helvetica-font: Helvetica, Arial, sans-serif;
$main-titles: #fff;
$hover-transition: .25s ease-in-out;
$background-button: #ccc;
$cod-link: #0a91ab;
$cod-link-hover: #0a7d91;
$body-text: #222;
