/* This is our main file for css/sass */

body {
	background-image: url("../images/broken_noise.png");
	text-align: center;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	color: $main-titles;
	font-family: $helvetica-font;
	font-size: 45pt;
	font-weight: 400;
	padding-top: 1.5em;
	margin-bottom: .5rem;
}

h3 {
	font-family: $helvetica-font;
	font-weight: 200;
	color: $main-titles;

}

.box1 {
	@include button( #fff, #468966);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

.box2 {
	@include button( #fff, #FFB03B);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

.box3 {
	@include button( #fff, #B64926);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

a {
	color: $cod-link;
	text-decoration: none;
}

a:hover {
	color: $cod-link-hover;
}

i {
	color: $body-text;
	font-size: 3em;
	text-align: center;
}

cite {
	display: block;
	margin-top: .5rem;
}

/* ------ LILY (BOX1) ------- */

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 10px;
	padding: 2em;
	width: 30%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}
