/* This is our main file for css/sass */

body {
	background-image: url("../images/broken_noise.png");
	text-align: center;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	color: $main-titles;
	font-family: $helvetica-font;
	font-size: 45pt;
	font-weight: 400;
	padding-top: 1.5em;
	margin-bottom: .5rem;
}

h3 {
	font-family: $helvetica-font;
	font-weight: 200;
	color: $main-titles;

}

.box1 {
	@include button( #fff, #468966);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

.box2 {
	@include button( #fff, #FFB03B);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

.box3 {
	@include button( #fff, #B64926);
	transition: $hover-transition;
	border-radius: 10px 10px 0 0;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	background-color: $background-button;
}

a {
	color: $cod-link;
	text-decoration: none;
}

a:hover {
	color: $cod-link-hover;
}

i {
	color: $body-text;
	font-size: 3em;
	text-align: center;
}

cite {
	display: block;
	margin-top: .5rem;
}

/* ------ LILY (BOX1) ------- */

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 10px;
	padding: 2em;
	width: $button-size;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: $body-text;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/* ------ LILA (BOX2) ------- */

figure.effect-lila figcaption {
	text-align: left;
}

figure.effect-lila figcaption > div {
	position: absolute;
	bottom: 0;
	left: 35%;
	padding: 2em;
	width: $button-size;
	height: 50%;
}

figure.effect-lila h2,
figure.effect-lila p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lila h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lila p {
	color: $body-text;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lila:hover img,
figure.effect-lila:hover p {
	opacity: 1;
}

figure.effect-lila:hover img,
figure.effect-lila:hover h2,
figure.effect-lila:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lila:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/* ------ LILOU (BOX3) ------- */



figure.effect-lilou figcaption {
	text-align: left;
}

figure.effect-lilou figcaption > div {
	position: absolute;
	bottom: 0;
	right: 10px;
	padding: 2em;
	width: $button-size;
	height: 50%;
}

figure.effect-lilou h2,
figure.effect-lilou p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lilou h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lilou p {
	color: $body-text;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lilou:hover img,
figure.effect-lilou:hover p {
	opacity: 1;
}

figure.effect-lilou:hover img,
figure.effect-lilou:hover h2,
figure.effect-lilou:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lilou:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
